auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
engine-strict=true
# Electron binary (GitHub often blocked / slow in CN)
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_custom_dir={{ version }}
